/* CSS VARIABLES */
:root {
  --primary-color-one: #ede7d4;
  --primary-color-two: #202020;
  --secondary-color-one: #225c90;
  --secondary-color-two: #5172b2;
  --secondary-color-three: #f33e02;
  --secondary-color-four: #e48d03;
  --secondary-color-five: #ea9c94;
  --header-font: "Fascinate", cursive;
  --primary-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Exo", sans-serif;
}

/* GENERIC SELECTORS */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: var(--header-font);
  text-align: center;
  font-size: 5vw;
}
h2 {
  font-family: var(--primary-font);
  font-weight: bold;
}
.container {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  max-width: 100vw;
}

/* NAVBAR */
.navbar {
  padding: 0;
  font-size: 2.2vw;
  font-family: var(--primary-font);
  border-bottom: 20px solid var(--primary-color-two);
}
.navbar-brand img {
  max-width: 10vw;
  padding-left: 0.5vw;
}
a.nav-link.active {
  color: var(--secondary-color-two) !important;
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: var(--primary-color-two);
  color: white;
  font-size: 1vw;
  font-family: var(--primary-font);
  text-align: center;
  margin-top: auto;
}
footer p {
  margin: 2vw 0 2vw 0;
  font-weight: lighter;
}
footer i {
  color: white;
  font-size: 3vw;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
footer a:hover {
  color: var(--secondary-color-two);
}
footer i:hover {
  color: var(--primary-color-one);
}

/* FOOTER MEDIA QUERY */
@media (max-width: 767px) {
  footer {
    font-size: 2.5vw;
    padding: 1vw 0 1vw 0;
  }
  footer i {
    font-size: 5vw !important;
  }
  footer p {
    margin: 0.2vw;
  }
}

/* HOMEPAGE */
/* HOMEPAGE HERO */
.hero {
  background-image: url("/images/geometric-background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 2.5vw solid var(--primary-color-two);
  border-radius: 100px 100px 5px 5px;
  overflow: hidden;
  height: auto;
  width: 94vw;
  text-align: center;
  margin-top: 0.5vw;
  margin-right: 3vw;
  margin-left: 3vw;
}
.hero h1 {
  font-size: 9.75vw;
  letter-spacing: 0.04em;
  line-height: 1;
  color: var(--primary-color-two);
  margin-bottom: 3vw;
  padding-top: 7vw;
  text-transform: uppercase;
}
.hero h2 {
  font-family: var(--secondary-font);
  font-size: 2.6vw;
  font-weight: 600;
  color: var(--secondary-color-four);
  margin-bottom: 1vw;
  text-transform: uppercase;
}
/* HOMEPAGE HERO BUTTONS */
.btn {
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}
.btn-home-dark {
  font-size: 2.5vw;
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
  border: 0.5vw solid var(--primary-color-two);
  margin-bottom: 4vw;
  padding: 0.5vw 2vw 0.5vw 2vw;
}
.btn-home-light {
  font-size: 2vw;
  color: var(--primary-color-two);
  background-color: var(--primary-color-one);
  border: 0.2vw solid var(--primary-color-two);
  margin: 0 0 2.3vw 0;
  padding: 0.5vw 0 0.3vw 0;
  width: 16vw;
}
.down-button i {
  color: var(--primary-color-two);
  font-size: 4vw;
  margin-bottom: 2vw;
}
.down-button i:hover {
  color: var(--primary-color-one);
  background-color: rgb(32, 32, 32, 0.9);
  padding: 0 7px;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}

/* HOMEPAGE HERO BUTTON HOVER */
.btn-home-dark:hover {
  color: var(--secondary-color-two);
  transition: all 100ms ease-in-out;
}
.btn-home-light:hover {
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
  transition: all 50ms ease-in-out;
}

/* HOMEPAGE INTRO SECTION */
.intro-section {
  font-family: var(--secondary-font);
  color: var(--primary-color-two);
  padding: 0 1.5vw;
  background-color: var(--primary-color-one);
  border-top: 0.75vw solid var(--secondary-color-four);
  border-bottom: 2.5vw solid var(--primary-color-two);
  border-radius: 5px 5px 100px 100px;
  width: 94vw;
  margin-top: 2vw;
  margin-right: 3vw;
  margin-left: 3vw;
  padding-bottom: 0.25vw;
  margin-bottom: 0.5vw;
}
.intro-section h3 {
  font-size: 5vw;
  margin: 2vw 0 0vw 0;
  padding-top: 1vw;
}
.intro-section h2 {
  font-size: 6vw;
  line-height: normal;
  margin-bottom: 1vw;
}
.name-color {
  color: var(--secondary-color-two);
}
.intro-section p {
  font-weight: 300;
  font-size: 2vw;
  margin-left: 25px;
  margin-right: 25px;
}

/* HOMEPAGE MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar-brand img {
    max-width: 8vh;
    padding-left: 0.5vw;
  }
}
@media (max-width: 325px) {
  .hero {
    margin-top: 3.25vh;
  }
}
@media (max-width: 1140px) {
  .hero {
    background-image: url("/images/background-graphic-vertical.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: top center;
    overflow: hidden;
    text-align: center;
  }
  .hero h1 {
    font-size: 18vw;
    margin-bottom: 6vw;
    padding-top: 25vw;
  }
  .hero h2 {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 5vw;
  }
  .btn-home-dark {
    font-size: 5vw;
    margin-bottom: 6vw;
    padding: 1vw 3vw 1vw 3vw;
  }
  .btn-home-light {
    font-size: 4.5vw;
    margin: 0 0.75vw 4vw 0.75vw;
    padding: 0.5vw 0 0.3vw 0;
    width: 34vw;
  }
  .intro-section h3 {
    margin: 4vw 0 0vw 0;
    padding-top: 3vw;
    font-size: 7vw;
    text-align: center;
    margin-bottom: 2vw;
  }
  .intro-section h2 {
    text-align: center;
    font-size: 8vw;
    margin-bottom: 2.5vw;
  }
  .name-line {
    display: block;
  }
  .intro-section p {
    font-size: 3.75vw;
    text-align: center;
    margin-bottom: 5vw;
  }
  .intro-break {
    display: inline;
  }
}

/* ABOUT PAGE */
.about-container {
  background-color: var(--primary-color-one);
  border-top: 2.5vw solid var(--primary-color-two);
  border-radius: 100px 100px 5px 5px;
  margin-top: 0.75vw;
  width: 94vw;
  margin-right: 3vw;
  margin-left: 3vw;
}
.content-container {
  padding: 2vw 2vw 0.1vw 2vw;
}
/* ABOUT CONTENT SECTION */
.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 100px 5px 5px 5px;
}
h1.about-header {
  font-size: 4vw;
  margin-bottom: 0.2vw;
  text-align: start;
}
h2.about-subheader {
  font-size: 5vw;
  color: white;
  margin-bottom: 0.2vw;
}
p.about-intro-summary {
  color: var(--primary-color-one);
  background-color: white;
  padding-left: 24px;
  font-size: 1.75vw;
  line-height: normal;
  margin-bottom: 1.5vw;
  margin-left: -12px;
}
.about-paragraph-header {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--primary-color-two);
  font-size: 2.5vw;
}
p.about-paragraph {
  font-family: var(--secondary-font);
  font-weight: 100;
  color: var(--primary-color-two);
  font-size: 1.5vw;
  margin-bottom: 0.25vw;
}
.about-paragraph-sections {
  display: block;
  margin-bottom: 1vw;
}
/* ABOUT LINK SECTION */
.link-section {
  background-color: var(--primary-color-two);
  border-bottom: 2.5vw solid var(--primary-color-one);
  border-radius: 5px 5px 100px 100px;
  width: 94vw;
  margin-right: 3vw;
  margin-left: 3vw;
}
.btn-about-primary {
  background: white;
  font-family: var(--secondary-font);
  border: 3px solid var(--primary-color-one);
  font-weight: bolder;
  color: var(--primary-color-two);
  font-size: 1.75vw;
  line-height: normal;
  padding: 1vw 2vw;
  width: auto;
  margin: 0 auto;
  margin-top: 1.25vw;
  margin-bottom: 1.25vw;
  border-radius: 50px;
  text-align: center;
}
.btn-about-primary:hover {
  background: var(--primary-color-two);
  color: white;
}
.about-social-section {
  text-align: center;
  margin-top: 1.5vw;
}
.about-social-icons {
  text-decoration: none;
}
.about-social-icons .fab {
  text-decoration: none;
  font-size: 4.5vw !important;
  color: white;
}
.about-social-icons .fab:hover {
  text-decoration: none;
  color: var(--primary-color-one);
}
.row.link-section {
  margin-top: 1.5vw;
  margin-bottom: 0.75vw;
}
/* ABOUT PAGE MEDIA QUERIES */

@media (max-width: 768px) {
  .about-container {
    margin-top: 3.75vw;
  }
  .content-container {
    padding: 4vw 2vw 0vw 2vw;
  }
  h1.about-header {
    font-size: 5vw;
    margin-bottom: 0.5vw;
  }
  h2.about-subheader {
    font-size: 4vw;
    margin-bottom: 0.5vw;
  }
  p.about-intro-summary {
    font-size: 1.75vw;
    margin-bottom: 1.5vw;
  }
  .about-paragraph-header {
    font-size: 2vw;
    margin-bottom: 0.25vw;
  }
  p.about-paragraph {
    font-size: 1.4vw;
    margin-bottom: 0.5vw;
  }
  .btn-about-primary {
    font-size: 3vw;
    padding: 1.2vw 2.5vw;
    margin-top: 4vw;
  }
  .about-social-section {
    font-size: 6vw;
  }
  .row.link-section {
    margin-top: 0.4vw;
    margin-bottom: 1vw;
  }
  .row.link-section {
    margin-top: 2vw;
  }
  .btn-about-primary {
    font-size: 2vw;
  }
  .about-social-section {
    margin-top: 0.1vw;
  }
  .about-social-icons .fab {
    font-size: 5vw !important;
  }
}
@media (max-width: 576px) {
  .about-image {
    border-radius: 100px 100px 5px 5px;
  }
  h1.about-header {
    font-size: 10vw;
    text-align: center;
  }
  h2.about-subheader {
    font-size: 10vw;
    text-align: center;
    margin-bottom: 0.2vw;
  }
  p.about-intro-summary {
    padding-left: 12px;
    font-size: 4.5vw;
    text-align: center;
    margin-bottom: 3vw;
    margin-left: 0;
  }
  .about-paragraph-header {
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1vw;
  }
  .row.link-section {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  p.about-intro-summary {
    padding-top: 2vw;
    padding-bottom: 2.5vw;
  }
  p.about-paragraph {
    font-size: 3.5vw;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    text-align: center;
  }
  .btn-about-primary {
    font-size: 3vw;
    margin-top: 1.25vw;
    margin-bottom: 3vw;
  }
  .about-social-section {
    margin-top: 2vw;
  }
  .about-social-icons .fab {
    font-size: 6.5vw !important;
  }
}

/* PROJECTS PAGE */
/* PROJECTS CAROUSEL */
.carousel-container {
  background-color: var(--primary-color-two);
  border-top: 2vw solid var(--primary-color-one);
  border-radius: 100px 100px 5px 5px;
  width: 94vw;
  margin-top: 0.5vw;
  margin-bottom: 1.5vw;
  margin-right: 3vw;
  margin-left: 3vw;
}

.projects-heading {
  font-family: var(--primary-font);
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color-one);
  padding-top: 1vw;
}

/* SLIDE ARROW BUTTONS */
.carousel {
  margin: 0.5vw 20vw;
}
.carousel-inner {
  margin-top: -3vw;
  margin-bottom: 20px;
}

/* SLIDE INDICATORS */
.carousel-indicator-buttons {
  color: var(--primary-color-one);
}
.carousel-indicators {
  margin-bottom: 0;
}

/* CAROUSEL CARD */
.card {
  margin: 3vw auto;
  text-align: center;
  margin-bottom: 28px;
}
.card-body {
  padding: 0.3vw 0.75vw;
}
.card-title {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.25vw;
  margin-bottom: 5px;
}
.card-text {
  font-family: var(--secondary-font);
  font-size: 1vw;
  margin-bottom: 0.5vw;
}

/* LAUNCH PROJECT BUTTON */
.btn-carousel {
  font-size: 0.75vw;
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
  border: 0.5vw solid var(--primary-color-two);
  border-radius: 50px;
  margin-bottom: 0.1vw;
  padding: 0.1vw 0.6vw 0.1vw 0.6vw;
}
.btn-carousel:hover {
  color: white !important;
}

/* NEXT SECTION BUTTON */
.down-button-skills {
  padding-bottom: 2vw;
}
.down-button-skills i {
  color: var(--primary-color-one);
  font-size: 3vw;
  text-align: center;
}
.down-button-skills i:hover {
  color: var(--primary-color-two);
  background-color: rgb(237, 231, 212, 0.9);
  padding: 0 7px;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}

/* SKILLS & Certificates SECTION */
.skills-section {
  background-color: white;
  border-top: 1vw solid var(--primary-color-one);
  border-bottom: 1vw solid var(--primary-color-two);
  border-left: 1vw solid var(--primary-color-one);
  border-right: 1vw solid var(--primary-color-two);
  border-radius: 5px 5px;
  width: 94vw;
  margin-right: 3vw;
  margin-left: 3vw;
  padding: 2vw 1vw 2vw 1vw;
}
.skills-header h2 {
  color: var(--primary-color-two);
  text-align: center;
  font-size: 4vw;
  margin-bottom: 1vw;
}
.skill {
  color: var(--primary-color-two);
  text-align: center;
  font-size: 1.25vw;
}

/* CERTIFICATES SECTION */
.certificates-section {
  margin-top: 1.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: var(--primary-color-one);
  border-bottom: 2.5vw solid var(--primary-color-two);
  border-left: 0.1vw solid var(--primary-color-two);
  border-right: 0.1vw solid var(--primary-color-two);
  border-radius: 5px 5px 100px 100px;
  width: 94vw;
  margin-right: 3vw;
  margin-left: 3vw;
}
.certificates-header h2 {
  color: var(--primary-color-two);
  text-align: center;
  font-size: 4vw;
  margin-bottom: 1vw;
  padding-top: 1vw;
}
.certificates-image {
  max-width: 30vw;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
}

/* FONT AWESOME ICONS */
.fas,
.fab {
  font-size: 3vw;
}

/* PROJECTS MEDIA QUERIES */
@media (max-width: 576px) {
  .projects-heading {
    padding-top: 8vw;
    font-size: 6vw;
  }
  .carousel {
    margin: 0.5vw 10vw;
  }
  .carousel-inner {
    margin-top: -1vw;
    margin-bottom: 0;
  }
  .carousel-container {
    margin-bottom: 1.25vh;
  }
  .certificates-section {
    margin-top: 1.25vh;
  }
  .card-title {
    margin-top: 2px;
    font-size: 3vw;
  }
  .card-text {
    font-size: 2vw;
  }
  .btn-carousel {
    font-size: 2vw;
    padding: 0.5vw 0.75vw 0.5vw 0.75vw;
  }
  .card {
    width: 45vw !important;
  }
  .certificates-image {
    max-width: 40vw;
  }
  .projects-container {
    margin-top: 1vh;
  }
  .skills-header h2 {
    font-size: 5vw;
  }
  .skill {
    font-size: 1.5vw;
  }
  .fas,
  .fab {
    font-size: 3vw;
  }
  .down-button-skills i {
    font-size: 6vw;
  }
  .certificates-header h2 {
    font-size: 6vw;
    margin-bottom: 3vw;
    padding-top: 3vw;
  }
}

/* CONTACT PAGE */
.contact-container {
  margin: 0 auto;
  margin: 2vh 0;
  flex-grow: 1;
  height: 100%;
}
.contact-container h1 {
  font-size: 5vw;
  color: var(--primary-color-two);
}
.contact-info {
  text-align: center;
  padding: 1.5vw 3vw;
  align-items: center;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 1.25vw;
}
.email {
  background-color: var(--primary-color-two);
  border-top: 1vw solid var(--primary-color-one);
  border-radius: 100px 100px 5px 5px;
}
.linkedin {
  background-color: var(--primary-color-one);
}
.github {
  background-color: var(--primary-color-two);
  border-bottom: 1vw solid var(--primary-color-one);
  border-radius: 5px 5px 100px 100px;
}
.contact-info a {
  text-decoration: none;
  color: var(--primary-color-one);
  font-family: var(--secondary-font);
}
.linkedin a {
  color: var(--primary-color-two);
}
.contact-info i {
  color: var(--primary-color-one);
  font-size: 3.5vw;
}
.linkedin i {
  color: var(--primary-color-two);
}
.contact-info h2 {
  font-family: var(--secondary-font);
  margin-bottom: 0;
  color: var(--primary-color-one);
}
.linkedin h2 {
  color: var(--primary-color-two);
}

/* CONTACT SECTION HOVER */
.contact-info:hover {
  background-color: var(--secondary-color-two);
  transition: background-color 0.5s ease;
}
.contact-info a:hover {
  font-weight: bold;
}

/* CONTACT SECTION MEDIA QUERIES */
@media (max-width: 1200px) {
  .contact-container {
    margin: 9vh 0;
  }
}
@media (max-width: 768px) {
  .contact-container {
    margin: 15vh 0;
  }
  .contact-info {
    margin-top: 1.5vw;
  }
}
@media (max-width: 576px) {
  .contact-container {
    margin: 18vh 0;
  }
  .contact-container h1 {
    font-size: 10vw;
  }
  .contact-info {
    padding: 1vw 2vw;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 4vw;
  }

  .contact-info i {
    font-size: 7vw;
  }
}
