/* CSS VARIABLES */
:root {
  --primary-color-one: #ede7d4;
  --primary-color-two: #202020;
  --secondary-color-one: #225c90;
  --secondary-color-two: #5172b2;
  --secondary-color-three: #f33e02;
  --secondary-color-four: #e48d03;
  --secondary-color-five: #ea9c94;
  --header-font: "Fascinate", cursive;
  --primary-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Exo", sans-serif;
}

/* GENERIC SELECTORS */
body {
  margin-top: 80px;
}
h1 {
  font-family: var(--header-font);
}
h2 {
  font-family: var(--primary-font);
  font-weight: bold;
}
.container {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  max-width: 100vw;
}

/* NAVBAR */
.navbar {
  padding: 0;
  font-size: 30px;
  font-family: var(--primary-font);
}
a.nav-link.active {
  color: var(--secondary-color-two) !important;
  font-weight: bold;
}

/* HOMEPAGE HERO */
.hero {
  background-image: url("/images/background-graphic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 40px solid var(--primary-color-two);
  overflow: hidden;
  height: auto;
  width: 100vw;
  text-align: center;
}
.hero h1 {
  color: var(--primary-color-two);
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-top: 110px;
  line-height: 1;
}
.hero h2 {
  color: var(--secondary-color-four);
  font-size: 25px;
  margin-bottom: 10px;
}
/* HOMEPAGE HERO BUTTONS */
button {
  border-radius: 50px;
}
button a {
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: var(--secondary-font);
}
.dark-button {
  background-color: var(--primary-color-two);
  border: 2px solid var(--primary-color-two);
  height: 30px;
  width: 100px;
  margin-bottom: 35px;
}
.dark-button a {
  color: var(--primary-color-one);
  font-size: 13px;
}
.light-button {
  border: 2px solid var(--primary-color-two);
  background-color: var(--primary-color-one);
  height: 28px;
  width: 85px;
  margin-bottom: 20px;
  line-height: 0;
}
.light-button a {
  color: var(--primary-color-two);
  font-size: 9px;
}
/* HOMEPAGE HERO BUTTON HOVER */
.dark-button a:hover {
  color: var(--secondary-color-two);
}
.light-button a:hover {
  color: var(--secondary-color-five);
}

/* HOMEPAGE INTRO SECTION */
.intro-section {
  font-family: var(--secondary-font);
  color: var(--primary-color-two);
  padding: 0 10px;
}
.intro-section h3 {
  font-size: 42px;
  margin-top: 20px;
  padding-top: 6px;
  border-top: 4px solid var(--secondary-color-four);
}
.intro-section h2 {
  font-size: 55px;
  line-height: 65px;
}
.name-color {
  color: var(--secondary-color-two);
}
.intro-section p {
  font-weight: 300;
  font-size: 17px;
  padding-top: 2px;
}

/* FOOTER */
footer {
  background-color: var(--primary-color-two);
  color: white;
  font-size: 12px;
  font-family: var(--primary-font);
  text-align: center;
}
footer p {
  margin: 0;
  font-weight: lighter;
}
footer i {
  color: white;
  font-size: 45px;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* HOMEPAGE MEDIA QUERIES */
@media (max-width: 576px) {
  .hero h1 {
    font-size: 80px;
    padding-top: 100px;
  }
  .hero h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .dark-button {
    height: 50px;
    width: 150px;
    margin-bottom: 40px;
  }
  .dark-button a {
    font-size: 20px;
  }
  .light-button {
    height: 30px;
    width: 140px;
    margin-bottom: 80px;
  }
  .light-button a {
    font-size: 14px;
  }
  .intro-section h2 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 25px;
  }
  .intro-section h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
  }
  .intro-section p {
    font-size: 20px;
    text-align: center;
    max-width: 100%;
    margin-top: 20px;
  }
  footer {
    font-size: 10px;
  }
  footer i {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .intro-section h2 {
    font-size: 50px;
  }
}
@media (max-width: 818px) {
  .name-line {
    display: block;
  }
}
@media (min-width: 818px) and (max-width: 2000px) {
  .intro-break {
    display: block;
  }
}
@media (min-width: 760px) and (max-width: 1560px) {
  .hero h2 {
    color: var(--primary-color-two);
  }
}
/* ABOUT PAGE */
.about-container {
  background-color: var(--primary-color-one);
  border-top: 40px solid var(--primary-color-two);
}
.content-container {
  padding: 75px 25px 25px 50px;
}
h1.about-header {
  font-size: 54px;
  margin-bottom: 10px;
}
h2.about-subheader {
  font-size: 60px;
  color: white;
  margin-bottom: 12px;
}
p.about-intro-summary {
  color: var(--primary-color-one);
  background-color: white;
  padding-left: 24px;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 22px;
  margin-left: -12px;
}
.about-paragraph-header {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--primary-color-two);
  font-size: 28px;
}
p.about-paragraph {
  font-family: var(--secondary-font);
  font-weight: 100;
  color: var(--primary-color-two);
  font-size: 15px;
}

.btn-about-primary {
  background: white;
  font-family: var(--secondary-font);
  font-weight: bolder;
  border-radius: 4px;
  color: var(--primary-color-two);
  font-size: 22px;
  line-height: 27px;
  padding: 15px 45px;
  width: auto;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
}
.about-social-section {
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: white;
}
.about-social-icons {
  text-decoration: none;
  color: white;
}

.about-contact-button {
  text-align: center;
}
.row.link-section {
  margin-top: 15px;
}
