/* CSS VARIABLES */
:root {
  --primary-color-one: #ede7d4;
  --primary-color-two: #202020;
  --secondary-color-one: #225c90;
  --secondary-color-two: #5172b2;
  --secondary-color-three: #f33e02;
  --secondary-color-four: #e48d03;
  --secondary-color-five: #ea9c94;
  --header-font: "Fascinate", cursive;
  --primary-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Exo", sans-serif;
}

/* GENERIC SELECTORS */
body {
  margin-top: 80px;
}
h1 {
  font-family: var(--header-font);
}
h2 {
  font-family: var(--primary-font);
  font-weight: bold;
}
.container {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  max-width: 100vw;
}

/* NAVBAR */
.navbar {
  padding: 0;
  font-size: 2.2vw;
  font-family: var(--primary-font);
}
a.nav-link.active {
  color: var(--secondary-color-two) !important;
  font-weight: bold;
}

/* FOOTER */
footer {
  background-color: var(--primary-color-two);
  color: white;
  font-size: 1vw;
  font-family: var(--primary-font);
  text-align: center;
}
footer p {
  margin: 2vw 0 2vw 0;
  font-weight: lighter;
}
footer i {
  color: white;
  font-size: 3vw;
}
footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* HOMEPAGE HERO */
.hero {
  background-image: url("/images/geometric-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 2.5vw solid var(--primary-color-two);
  overflow: hidden;
  height: auto;
  width: 100vw;
  text-align: center;
}
.hero h1 {
  font-size: 9.75vw;
  letter-spacing: 0.04em;
  line-height: 1;
  color: var(--primary-color-two);
  margin-bottom: 1.5vw;
  padding-top: 11vw;
  text-transform: uppercase;
}
.hero h2 {
  font-family: var(--secondary-font);
  font-size: 2.6vw;
  font-weight: 600;
  color: var(--secondary-color-four);
  margin-bottom: 3vw;
  text-transform: uppercase;
}
/* HOMEPAGE HERO BUTTONS */
.btn {
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}
.btn-home-dark {
  font-size: 2.5vw;
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
  border: 0.5vw solid var(--primary-color-two);
  margin-bottom: 5.5vw;
  padding: 0.5vw 2vw 0.5vw 2vw;
}
.btn-home-light {
  font-size: 2vw;
  color: var(--primary-color-two);
  background-color: var(--primary-color-one);
  border: 0.2vw solid var(--primary-color-two);
  margin: 0 0 3.8vw 0;
  padding: 0.5vw 0 0.3vw 0;
  width: 16vw;
}

/* HOMEPAGE HERO BUTTON HOVER */
.btn-home-dark:hover {
  color: var(--secondary-color-two);
}
.btn-home-light:hover {
  color: var(--primary-color-one);
  background-color: var(--primary-color-two);
}

/* HOMEPAGE INTRO SECTION */
.intro-section {
  font-family: var(--secondary-font);
  color: var(--primary-color-two);
  padding: 0 1.5vw;
}
.intro-section h3 {
  font-size: 5vw;
  margin: 2vw 0 0vw 0;
  padding-top: 1vw;
  border-top: 0.75vw solid var(--secondary-color-four);
}
.intro-section h2 {
  font-size: 6vw;
  line-height: normal;
  margin-bottom: 1vw;
}
.name-color {
  color: var(--secondary-color-two);
}

.intro-section p {
  font-weight: 300;
  font-size: 2.25vw;
  margin-bottom: 3vw;
}
.intro-break {
  display: block;
}

/* HOMEPAGE MEDIA QUERIES */
@media (max-width: 1140px) {
  .hero {
    background-image: url("/images/background-graphic-vertical.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: top center;
    border-top: 5vw solid var(--primary-color-two);
    overflow: hidden;
    text-align: center;
  }
  .hero h1 {
    font-size: 18vw;
    margin-bottom: 6vw;
    padding-top: 25vw;
  }
  .hero h2 {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 5vw;
  }
  .btn-home-dark {
    font-size: 5vw;
    color: var(--primary-color-one);
    background-color: var(--primary-color-two);
    border: 0.5vw solid var(--primary-color-two);
    margin-bottom: 6vw;
    padding: 1vw 3vw 1vw 3vw;
  }
  .btn-home-light {
    font-size: 4.5vw;
    color: var(--primary-color-two);
    background-color: var(--primary-color-one);
    border: 0.2vw solid var(--primary-color-two);
    margin: 0 0.75vw 4vw 0.75vw;
    padding: 0.5vw 0 0.3vw 0;
    width: 34vw;
  }
  .intro-section h3 {
    margin: 4vw 0 0vw 0;
    padding-top: 3vw;
    font-size: 7vw;
    text-align: center;
    margin-bottom: 2vw;
  }
  .intro-section h2 {
    text-align: center;
    font-size: 8vw;
    margin-bottom: 2.5vw;
  }
  .name-line {
    display: block;
  }
  .intro-section p {
    font-size: 3.75vw;
    text-align: center;
    margin-bottom: 5vw;
  }
  .intro-break {
    display: inline;
  }
}

/* ABOUT PAGE */
.about-container {
  background-color: var(--primary-color-one);
  border-top: 40px solid var(--primary-color-two);
}
.content-container {
  padding: 2vw 2vw 2vw 2vw;
}
/* ABOUT CONTENT SECTION */
.about-image {
  max-width: 100%;
  height: auto;
}
h1.about-header {
  font-size: 5.5vw;
  margin-bottom: 0.2vw;
}
h2.about-subheader {
  font-size: 5.3vw;
  color: white;
  margin-bottom: 0.2vw;
}
p.about-intro-summary {
  color: var(--primary-color-one);
  background-color: white;
  padding-left: 24px;
  font-size: 1.9vw;
  line-height: normal;
  margin-bottom: 1.5vw;
  margin-left: -12px;
}
.about-paragraph-header {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--primary-color-two);
  font-size: 2.5vw;
}
p.about-paragraph {
  font-family: var(--secondary-font);
  font-weight: 100;
  color: var(--primary-color-two);
  font-size: 1.5vw;
}
.about-paragraph-sections {
  display: block;
  margin-bottom: 1vw;
}
/* ABOUT LINK SECTION */
.btn-about-primary {
  background: white;
  font-family: var(--secondary-font);
  font-weight: bolder;
  color: var(--primary-color-two);
  font-size: 1.75vw;
  line-height: normal;
  padding: 1vw 2vw;
  width: auto;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
}
.btn-about-primary:hover {
  background: var(--primary-color-two);
  color: white;
}
.about-social-section {
  text-align: center;
  font-size: 4vw;
  text-decoration: none;
  color: white;
}
.about-social-icons {
  text-decoration: none;
  color: white;
}
.about-social-icons:hover {
  text-decoration: none;
  color: var(--primary-color-two);
}
.about-contact-button {
  text-align: center;
}
.row.link-section {
  margin-top: 0.8vw;
}
/* ABOUT PAGE MEDIA QUERIES */
@media (max-width: 767px) {
  .content-container {
    padding: 4vw 2vw 4vw 2vw;
  }
  h1.about-header {
    font-size: 8vw;
    margin-bottom: 0.1vw;
  }
  h2.about-subheader {
    font-size: 10vw;
    margin-bottom: 0.1vw;
  }
  p.about-intro-summary {
    font-size: 3.5vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4vw;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
  }
  .about-paragraph-header {
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1vw;
  }
  p.about-paragraph {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0.5vw;
  }
  .btn-about-primary {
    font-size: 3vw;
    padding: 1.2vw 2.5vw;
  }
  .about-social-section {
    font-size: 6vw;
  }
  .row.link-section {
    margin-top: 0.4vw;
    margin-bottom: 1vw;
  }
}
/* FOOTER MEDIA QUERY */
@media (max-width: 767px) {
  footer {
    font-size: 1.5vw;
    padding: 1vw 0 1vw 0;
  }
  footer i {
    font-size: 3.5vw;
  }
  footer p {
    margin: 0.2vw;
  }
}
